# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\prj\Google_first_page_links\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
